@font-face {
  font-family: 'mullerblack-regular';
  src: url('/fonts/mullerblack-regular-webfont.woff2') format('woff2'),
  url('/fonts/mullerblack-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mullerblack-italic';
  src: url('/fonts/mullerblack-italic-webfont.woff2') format('woff2'),
  url('/fonts/mullerblack-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mullerextra-bold';
  src: url('/fonts/mullerextra-bold-webfont.woff2') format('woff2'),
  url('/fonts/mullerextra-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'muller-heavy';
  src: url('/fonts/muller-heavy-webfont.woff2') format('woff2'),
  url('/fonts/muller-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotocondensed-bold';
  src: url('/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
  url('/fonts/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotocondensed-regular';
  src: url('/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('/fonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptrouble';
  src: url('/fonts/ptrouble-webfont.woff2') format('woff2'),
  url('/fonts/ptrouble-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


$blackcolor: #161616;
$seacolor: #a5e1f2;
$bluecolor: #2295b6;




body {
  .content {
    width: 1167px;
    margin: auto;
  }
}


/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   HEADER START   /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

header {
  padding: 100px 0 0;
  background-color: $seacolor;

  .intro {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .title {
    font-family: 'mullerblack-italic', serif;
    font-size: 120px;
    color: $blackcolor;
    text-align: center;
    line-height: 100px;
    width: 100%;
  }
  .text {
    font-family: 'robotocondensed-bold', serif;
    font-size: 30px;
    color: $blackcolor;
    display: inline-block;
  }
  .date {
    font-family: 'robotocondensed-bold', serif;
    font-size: 30px;
    color: #d42121;
    display: inline-block;
    float: right;
  }
  .box {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
  }
  .prizes_header {
    text-align: center;
  }
  .money {
    font-family: 'mullerextra-bold', serif;
    font-size: 100px;
    color: $blackcolor;
    text-shadow: 5px 4px 1px #126177;
    line-height: 70px;
  }
  .rouble {
    font-family: 'ptrouble', serif;
    font-size: 40px;
    margin-left: -10px;
  }
  .photocamera {
    font-family: 'mullerblack-regular', serif;
    font-size: 50px;
    color: $blackcolor;
    font-weight: 600;
    text-shadow: 4px 3px 1px #126177;
  }
  .other {
    font-family: 'robotocondensed-regular', serif;
    font-size: 30px;
    color: $blackcolor;
  }
  .flex {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: -215px;
  }
  .pack {
    background-image: url(/images/pack.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 100%;
    width: 35%;
    height: 415px;
    position: relative;
    left: -75px;
    bottom: 100px;
  }
  .fuji {
    background-image: url(/images/fuji.png);
    width: 35%;
    height: 415px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    position: relative;
    right: -60px;
    bottom: 65px;
  }
  .click {
    background-image: url(/images/click.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
    width: 44px;
    height: 106px;
    margin: 35px auto;
    cursor: pointer;
  }
}


@media all and (max-width: 1168px) {
  body {
    .content {
      width: 100%;
      padding: 0 20px;
    }
  }
  header {
    .pack {
      background-size: 95%;
      background-repeat: no-repeat;
      background-position: 50% 0%;
    }
    .prizes {
      padding: 0 20px;
    }
    .money {
      font-size: calc(100vw / 12);
      line-height: 70px;
    }
    .rouble {
      display: none;
    }
    .photocamera {
      font-size: calc(100vw / 22);
    }
    .fuji {
      background-size: 95%;
    }
    .click {
      background-size: 80%;
      margin: -90px auto;
    }
  }
}

@media all and (max-width: 1024px) {
  header {
    .title {
      font-size: calc(100vw / 8);
    }
  }
}

@media all and (max-width: 800px) {
  header {
    padding-top: 40px;

    .box {
      margin: 80px auto;
      display: block;
    }
    .pack {
      margin: auto;
      background-size: 80%;
    }
    .fuji {
      height: 190px;
      margin: 40px auto;
      background-size: 80%;
    }
    .click {
      margin: -65px auto;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   HEADER END   ///////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   TASKS START   //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.tasks {
  background-color: white;
  position: relative;

  .flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: -170px;
    align-items: center;
  }
  .text {
    font-family: 'robotocondensed-regular', serif;
    font-size: 30px;
    color: $blackcolor;
    width: 50%;
    line-height: 38px;
  }
  .man {
    background-image: url(/images/man.png);
    width: 50%;
    height: 472px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .message {
    background-image: url(/images/bubble_man.png);
    position: relative;
    right: 155px;
    bottom: 20px;
    width: 277px;
    height: 197px;
    padding: 65px 20px 65px 44px;
    font-family: 'robotocondensed-regular', serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: $blackcolor;
  }
  .message_hide {
    background-image: url(/images/bubble_man.png);
    background-position: center;
    background-repeat:  no-repeat;
    width: 277px;
    height: 197px;
    padding: 65px 20px 65px 44px;
    font-family: 'robotocondensed-regular', serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: $blackcolor;
    margin: auto;
    display: none;
  }
}
.tasks:before {
  content: " ";
  position: relative;
  top: -220px;
  width: 100%;
  height: 221px;
  background: url(/images/ragged_edge_1.png);
  background-position: center;
  background-size: cover;
  display: block;
}
.tasks:after {
  content: " ";
  position: relative;
  margin-top: -70px;
  width: 100%;
  top: 2px;
  height: 114px;
  background: url(/images/ragged_edge_3.png);
  background-position: center;
  background-size: cover;
  display: block;
}


@media all and (max-width: 1200px) {
  .tasks {
    .flex {
      padding: 0 20px;
    }
  }
}

@media all and (max-width: 1168px) {
  .tasks {
    .flex {
      padding: 0;
    }
    .text {
      width: 40%;
      padding: 30px 60px 20px 0;
    }
    .man {
      width: 60%;
    }
    .message {
      right: 145px;
      bottom: 60px;
    }
  }
}

@media all and (max-width: 950px) {
  .tasks {
    .text {
      order: 2;
      width: 100%;
      padding: 40px 25px 55px;
    }
    .man {
      display: none;
    }
    .message_hide {
      display: block;
      order: 1;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   TASKS END   ////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   CONDITIONS START   /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.conditions {
  background-color: $seacolor;
  padding-bottom: 100px;

  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .telegram {
    background-image: url(/images/telegram.png);
    width: 35%;
    height: 513px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .text_telegram {
    font-family: 'robotocondensed-bold', serif;
    font-size: 15px;
    color: $blackcolor;
    width: 191px;
    position: relative;
    top: 125px;
    left: 104px;
  }
  .box {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
  }
  .message {
    background-image: url(/images/message.png);
    width: 430px;
    height: 176px;
    margin-left: -55px;
    font-family: 'robotocondensed-bold', serif;
    font-size: 30px;
    color: $blackcolor;
    padding: 40px 30px 25px 95px;
    line-height: 34px;
    text-align:  center;
  }
  .text {
    font-family: 'robotocondensed-regular', serif;
    font-size: 30px;
    color: $blackcolor;
    width: 100%;
    padding: 0 0 0 24px;
  }
  p {
    line-height: 37px;
    margin-bottom: 27px;
  }
}


@media all and (max-width: 1168px) {
  .conditions {
    .telegram {
      width: 270px;
      display: inline-block;
      margin-right: 15px;
    }
    .text_telegram {
      left: 40px;
    }
    .message {
      margin: 0;
    }
    .box {
      display: inline-block;
    }
    .text {
      padding: 15px 0 0 40px;
      font-size: 25px;
    }
  }
}

@media all and (max-width: 855px) {
  .conditions {
    .flex {
      display: block;
    }
    .message {
      display: none;
    }
    .box {
      width: 100%;
    }
    .text {
      padding: 10px;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   CONDITIONS END   ///////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   DROP_OUT START   ///////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.drop_out {
  background-color: $bluecolor;
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .text {
    font-family: 'robotocondensed-regular', serif;
    font-size: 30px;
    color: white;
    width: 50%;
    padding: 250px 0 0;
  }
  p {
    line-height: 38px;
    margin-bottom: 22px;
  }
  .woman {
    background-image: url(/images/woman.png);
    height: 544px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 10;
    left: 65px;
    margin-top: -30px;
  }
  .bubble {
    background-image: url(/images/bubble_woman.png);
    position: relative;
    z-index: 1;
    padding: 70px 165px 100px 65px;
    right: 385px;
    bottom: 545px;
    margin-bottom: -268px;
    width: 499px;
    height: 268px;
    font-family: 'robotocondensed-bold', serif;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: $blackcolor;
  }
  .bubble_hide {
    background-image: url(/images/bubble_woman.png);
    background-position: center;
    background-repeat:  no-repeat;
    width: 499px;
    height: 268px;
    padding: 70px 165px 100px 65px;
    font-family: 'robotocondensed-bold', serif;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: $blackcolor;
    margin: 55px auto;
    display: none;
  }
}


@media all and (max-width: 1199px) {
  .drop_out {
    .flex {
      padding: 0 15px;
    }
  }
}

@media all and (max-width: 1167px) {
  .drop_out {
    .flex {
      padding: 0;
    }
  }
}

@media all and (max-width: 1010px) {
  .drop_out {
    padding-bottom: 30px;

    .text {
      order: 2;
      padding: 0;
      width: 100%;
    }
    .woman {
      display: none;
    }
    .bubble {
      display: none;
    }
    .bubble_hide {
      display: block;
    }
  }
}

@media all and (max-width: 540px) {
  .drop_out {
    .bubble_hide {
      width: calc(100vw - 40px);
      background-size: contain;
      font-size: calc(100vw / 20);
    }
  }
}

@media all and (max-width: 406px) {
  .drop_out {
    .bubble_hide {
      margin: 0;
      padding: 75px 115px 90px 50px;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   DROP_OUT END   /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   JURY START   ///////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.jury {
  background-color: $seacolor;
  padding: 65px 0 0;

  .headline {
    font-family: 'robotocondensed-bold', serif;
    font-size: 30px;
    color: $blackcolor;
    width: 600px;
    margin: auto;
    text-align: center;
    line-height: 38px;
  }
  .cards {
    margin-top: 30px;
    text-align: center;
  }
  .card {
    display: inline-block;
    width: 330px;
    height: 400px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 0;
    border: none;
  }
  .frame {
    width: 196px;
    height: 353px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto 20px;
    position: relative;
    z-index: 10;
  }
  .frame-1 {
    background-image: url(/images/frame-1.png);
  }
  .frame-2 {
    background-image: url(/images/frame-2.png);
  }
  .frame-3 {
    background-image: url(/images/frame-3.png);
  }
  .photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -270px;
    bottom: 310px;
  }
  .width-1 {
    width: 160px;
    height: 260px;
    position: relative;
    left: 85px;
    border-radius: 110px / 195px;
  }
  .width-2 {
    width: 140px;
    height: 245px;
    position: relative;
    left: 95px;
    border-radius: 110px / 195px;
  }
  .width-3 {
    width: 155px;
    height: 250px;
    position: relative;
    left: 88px;
    border-radius: 110px / 195px;
  }
  .photo-1 {
    background-image: url(/images/zlobin.png);
  }
  .photo-2 {
    background-image: url(/images/kiselev.png);
  }
  .photo-3 {
    background-image: url(/images/zdor.png);
  }
  .name {
    font-family: 'robotocondensed-bold', serif;
    font-size: 30px;
    color: $blackcolor;
    margin-bottom: 3px;
  }
  .about {
    font-family: 'robotocondensed-regular', serif;
    font-size: 18px;
    color: $blackcolor;
    padding: 0 40px;
    line-height: 23px;
  }
}
.jury:after {
  content: " ";
  position: relative;
  width: 100%;
  top: 2px;
  height: 221px;
  background: url(/images/ragged_edge_1.png);
  background-position: center;
  background-size: cover;
  display: block;
}


@media all and (max-width: 630px) {
  .jury {

  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   JURY END   /////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   PRIZES START   /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.prizes {
  padding: 40px 0 0;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 80px;
    color: $blackcolor;
    text-align: center;
    margin-bottom: 30px;
  }
  .point {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-left: 180px;
  }
  .point-1 {
    background-image: url(/images/first_place.png);
  }
  .point-2 {
    background-image: url(/images/second_place.png);
  }
  .point-3 {
    background-image: url(/images/third_place.png);
  }
  .point-4 {
    background-image: url(/images/fourth_place.png);
  }
  img {
    margin: 0 20px 0 40px;
  }
  .place {
    display: flex;
    align-items: center;
    margin: 0 auto 40px;
    height: 170px;

    &:nth-of-type(5){
      height: 150px;
    }
  }
  .text_prize {
    font-family: 'mullerblack-regular', serif;
    font-size: 55px;
    color: $blackcolor;
  }
  .prize {
    font-family: 'robotocondensed-regular', serif;
    font-size: 28px;
    color: $blackcolor;
    width: 500px;
    line-height: 35px;
  }
}
.prizes:after {
  content: " ";
  position: relative;
  top: 2px;
  width: 100%;
  height: 127px;
  background: url(/images/ragged_edge_3.png);
  background-position: center;
  background-size: cover;
  display: block;
}


@media all and (max-width: 630px) {
  .prizes {

  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   PRIZES END   ///////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   GIFT START   ///////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.present {
    background-color: $seacolor;

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .text {
    font-family: 'robotocondensed-regular', serif;
    font-size: 30px;
    color: $blackcolor;
    width: 50%;
    padding-right: 20px;
    margin-bottom: 30px;
    line-height: 42px;
  }
  .man_gift {
    background-image: url(/images/man_gift.png);
    width: 50%;
    height: 627px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -170px;
    position: relative;
    z-index: 10;
  }
  .gift {
    background-image: url(/images/gift.png);
    width: 100%;
    height: 187px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
  }
}


@media all and (max-width: 890px) {
  .present {
    .text {
      width: 100%;
      order: 2;
    }
    .man_gift {
      display: none;
    }
    .gift {
      display: block;
      margin: 20px;
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   GIFT END   /////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   MAIN START   ///////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.main {
  background-color: $bluecolor;
  padding: 80px 0;
  text-align: center;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 80px;
    color: white;
    text-shadow: 5px 4px 1px #126177;
  }
  .text {
    font-family: 'robotocondensed-regular', serif;
    font-size: 30px;
    color: white;
    line-height: 41px;
  }
  .bold {
    font-family: 'robotocondensed-bold', serif;
    font-weight: bold;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   MAIN END   /////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   STUDENT_WORK START   ///////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.student_work {
  background-color: $seacolor;
  padding: 90px 0 0;
  text-align: center;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 80px;
    color: $blackcolor;
    text-shadow: 4px 4px 1px #57a0b5;
    margin-bottom: 30px;
  }
  .navigation_photo {
    position: relative;
    top: 235px;
    padding: 0 170px;
  }
  .prew {
    position: relative;
    transform: rotate(180deg);
    float: left;
    cursor: pointer;
  }
  .next {
    position: relative;
    float: right;
    cursor: pointer;
  }
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .carousel-inner {
    overflow: hidden;
    width: 655px;
    height: 620px;
  }
  .frame_photo {
    background-image: url(/images/frame_picture.png);
    width: inherit;
    height: 458px;
    margin: auto;
    position: relative;
    z-index: 20;
  }
  .carousel_photo {
    width: 630px;
    height: 390px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    bottom: 403px;
    left: 15px;
  }
  .pic-1 {
    background-image: url(/images/photo-1.png);
  }
  .pic-2 {
    background-image: url(/images/photo-2.png);
  }
  .pic-3 {
    background-image: url(/images/photo-3.png);
  }
  .pic-4 {
    background-image: url(/images/photo-4.png);
  }
  .pic-5 {
    background-image: url(/images/photo-5.png);
  }
  .pic-6 {
    background-image: url(/images/photo-6.png);
  }
  .pic-7 {
    background-image: url(/images/photo-7.png);
  }
  .pic-8 {
    background-image: url(/images/photo-8.png);
  }
  .pic-9 {
    background-image: url(/images/photo-9.png);
  }
  .pic-10 {
    background-image: url(/images/photo-10.png);
  }
  .pic-11 {
    background-image: url(/images/photo-11.png);
  }
  .pic-12 {
    background-image: url(/images/photo-12.png);
  }
  .note {
    background-image: url(/images/note.png);
    position: relative;
    bottom: 375px;
    width: 256px;
    height: 104px;
    margin: 30px auto;
    text-align: center;
    padding: 15px;
  }
  .name {
    font-family: 'robotocondensed-regular', serif;
    font-size: 18px;
    color: $blackcolor;
  }
  .city {
    font-family: 'robotocondensed-regular', serif;
    font-size: 16px;
    color: $blackcolor;
  }
  .mail {
    font-family: 'robotocondensed-bold', serif;
    font-size: 16px;
    color: $blackcolor;
    font-weight: bold;
  }
}
.student_work:after {
  content: " ";
  position: relative;
  top: 2px;
  margin-top: -70px;
  width: 100%;
  height: 221px;
  background: url(/images/ragged_edge_1.png);
  background-position: center;
  background-size: cover;
  display: block;
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   STUDENT_WORK END   /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   WHO_I_AM START   ///////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.who_i_am {
  text-align: center;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 80px;
    color: $blackcolor;
    text-shadow: 4px 4px 1px #9d9d9d;
  }
  .text{
    font-family: 'robotocondensed-regular', serif;
    font-size: 21px;
    color: $blackcolor;
    padding: 0 220px;
    margin-bottom: 40px;
    line-height: 28px;
  }
  .veil {
    background-image: url(/images/veil.png);
    margin: 0 auto;
    position: relative;
    top: 25px;
    right: 35px;
    z-index: 5;
    width: 282px;
    height: 223px;
  }
  .veil_head {
    background-image: url(/images/veil_head.png);
    margin: 0 auto;
    position: relative;
    margin-top: -320px;
    top: 85px;
    right: 25px;
    z-index: 20;
    width: 168px;
    height: 86px;
  }
  .bg_gusev{
    background-image: url(/images/gusev.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 10;
    height: 553px;
    padding: 80px 0 0;
  }
  .facts {
    position: relative;
    width: 300px;
    margin: auto;
  }
  p {
    font-family: 'mullerblack-regular', serif;
    font-size: 25px;
    color: $blackcolor;
    width: 300px;
    position: relative;
    text-align: left;
    line-height: 35px;

    &:nth-of-type(1){
      right: 245px;
    }
    &:nth-of-type(2){
      bottom: 90px;
      left: 315px;
      width: 350px;
    }
    &:nth-of-type(3){
      bottom: 20px;
      right: 330px;
    }
    &:nth-of-type(4){
      font-size: 50px;
      bottom: 90px;
      left: 305px;
      text-shadow: 5px 4px 1px #9d9d9d;
    }
    &:nth-of-type(5){
      right: 280px;
    }
    &:nth-of-type(6){
      bottom: 53px;
      left: 400px;
    }
  }
}
.who_i_am:after {
  content: " ";
  position: relative;
  z-index: 50;
  margin-top: -95px;
  width: 100%;
  top: 2px;
  height: 114px;
  background: url(/images/ragged_edge_4.png);
  background-position: center;
  background-size: cover;
  display: block;
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   WHO_I_AM END   /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   YOU_WILL_LEARN START   /////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.you_will_learn {
  background-color: $bluecolor;
  padding: 50px 0 140px;
  text-align: center;

  .headline {
    font-family: 'mullerextra-bold', serif;
    font-size: 70px;
    color: white;
    text-shadow: 5px 4px 1px #116a83;
  }
  .navigation {
    position: relative;
    top: 320px;
    padding: 0 170px;
  }
  .prew {
    position: relative;
    transform: rotate(180deg);
    float: left;
    cursor: pointer;
  }
  .next {
    position: relative;
    float: right;
    cursor: pointer;
  }
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .carousel-inner {
    position: relative;
    width: 700px;
    height: 540px;
    overflow: hidden;
  }
  .carousel-item {
    position: relative;
  }
  .picture {
    background-position: 50% 20%;
    background-size: cover;
    width: 700px;
    height: 414px;
    position: relative;
    top: 125px;
    z-index:100;
  }
  .picture-1 {
    background-image: url(/images/picture-1.png);
  }
  .picture-2 {
    background-image: url(/images/picture-2.png);
  }
  .picture-3 {
    background-image: url(/images/picture-3.png);
  }
  .picture-4 {
    background-image: url(/images/picture-4.png);
  }
  .carousel-indicators {
    bottom: -85px;
  }
  .carousel-indicators li {
    display: inline-block;
    background-image: url(/images/circle.png);
    width: 30px;
    height: 28px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &.active {
      background-color: white;
    }
  }
  .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
    bottom: 415px;
    width: 700px;
    height: 100px;
    padding: 0;
    display: block;
  }
  p {
    font-family: 'mullerextra-bold', serif;
    font-size: 48px;
    color: white;
    margin: 0 auto;
    line-height: 50px;
  }
  .middle {
    padding: 30px 0;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   YOU_WILL_LEARN END   ///////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   HOW_IT_WORKS START   ///////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.how_it_works {
  background-color: $seacolor;
  padding: 90px 0 50px;
  text-align: center;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 80px;
    color: $blackcolor;
    text-shadow: 4px 5px 1px #66a7b9;
    margin-bottom: 60px;
  }
  .cloud {
    background-image: url(/images/cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 149px;
    margin-bottom: 90px;

    &:nth-of-type(7) {
      background-image: url(/images/cloud_big.png);
      background-position: center;
      height: 196px;
    }
  }
  .number {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    bottom: 25px;
    width: 62px;
    height: 57px;
  }
  .one {
    background-image: url(/images/one.png);
  }
  .two {
    background-image: url(/images/two.png);
  }
  .three {
    background-image: url(/images/three.png);
  }
  .four {
    background-image: url(/images/four.png);
  }
  .five {
    background-image: url(/images/five.png);
  }
  .six {
    background-image: url(/images/six.png);
  }
  .seven {
    background-image: url(/images/seven.png);
  }
  .text {
    font-family: 'robotocondensed-regular', serif;
    font-size: 21px;
    color: $blackcolor;
    padding: 0 70px;
    margin: -10px auto;
    line-height: 28px;
  }
  .tx7 {
    font-family: 'robotocondensed-bold', serif;
    font-size: 35px;
    font-weight: bold;
    padding: 18px 370px;
    line-height: 40px;
  }
  .arrow {
    background-image: url(/images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 40px;
    position: relative;
    bottom: 90px;
    right: 55px;
  }
  .arrow_reflect {
    background-image: url(/images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1, -1);
    width: 90px;
    height: 40px;
    position: relative;
    bottom: -35px;
    right: 55px;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   HOW_IT_WORKS END   /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   PRICE START   //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.price {
  background-color: #f03c3c;
  padding: 90px 0 120px;
  text-align: center;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 80px;
    color: white;
    text-shadow: 5px 4px 1px #cf2121;
  }
  .flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .value {
    width: 20%;
  }
  .icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 27px;
  }
  .icon-1 {
    background-image: url(/images/icon-1.png);
  }
  .icon-2 {
    background-image: url(/images/icon-2.png);
  }
  .icon-3 {
    background-image: url(/images/icon-3.png);
  }
  .icon-4 {
    background-image: url(/images/icon-4.png);
  }
  .icon-5 {
    background-image: url(/images/icon-5.png);
  }
  .name {
    font-family: 'robotocondensed-bold', serif;
    font-size: 30px;
    color: white;
    margin: 15px 0 15px 0;
  }
  .underline {
    background-image: url(/images/underline.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 9px;
    margin: 0 0 15px 0;
  }
  .cost {
    font-family: 'mullerblack-regular', serif;
    font-size: 45px;
    color: white;
  }
  .rouble {
    font-family: 'ptrouble', serif;
    font-size: 30px;
    color: white;
  }
  .text {
    font-family: 'robotocondensed-regular', serif;
    font-size: 18px;
    color: white;
    width: 185px;
    height: 175px;
    margin: 0 auto;
    line-height: 23px;
  }
  button {
    background-image: url(/images/button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 177px;
    height: 73px;
    font-family: 'mullerextra-bold', serif;
    font-size: 25px;
    color: $blackcolor;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   PRICE START   //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   QUESTION START   ///////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.question {
  background-color: $seacolor;
  padding: 70px 0 100px;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 78px;
    color: $blackcolor;
    text-shadow: 5px 4px 1px #65a7b9;
    text-align: center;
  }
  .flex_container {
    display: flex;
    width: 100%;
  }
  .question_pack {
    width: 33%;
    margin: 50px 35px 0 0;
  }
  .name {
    background-image: url(/images/bg_question.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 365px;
    height: 82px;
    font-family: 'robotocondensed-regular', serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  .flex_question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 365px;
    cursor: pointer;

    &:nth-of-type(odd){
      background-color: #93cad9;
    }
  }
  .issue {
    font-family: 'robotocondensed-regular', serif;
    font-size: 18px;
    color: $blackcolor;
    line-height: 21px;
    padding: 20px 20px;
    width: calc(100% - 30px);
  }
  .bg_issue {
    background-color: #93cad9;
  }
  .arrow_triangle {
    background-image: url(/images/arrow_triangle.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 27px;
    margin-right: 10px;
    float: right;
    transition-duration: 0.3s;

    &.active {
      transform: rotate(90deg);
    }
  }
  .answer {
    font-family: 'robotocondensed-regular', serif;
    font-size: 16px;
    color: $blackcolor;
    display: none;
    background-color: white;
    padding: 20px 16px;
    width: 365px;
    background-image: url(/images/line.png);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    cursor: text;
    line-height: 21px;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   QUESTION END   /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   SHOULD_I_GO START   ////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.should_i_go {
  background-color: #f03c3c;
  padding: 90px 0;
  text-align: center;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 80px;
    color: white;
    margin: 0 auto 50px;
    text-shadow: 6px 4px 1px #cf2121;
  }
  .duck {
    background-image: url(/images/duck.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 520px;
  }
  .duck_say {
    background-image: url(/images/duck_say.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 402px;
    height: 233px;
    position: relative;
    left: 420px;
    top: 40px;
    font-family: 'robotocondensed-regular', serif;
    font-size: 18px;
    color: $blackcolor;
    line-height: 24px;
    padding: 80px 35px 0 65px;
  }
  .exclamation {
    background-image: url(/images/exclamation.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 685px;
    height: 197px;
    position: relative;
    top: 90px;
    left: 480px;
    font-family: 'muller-heavy', serif;
    font-size: 25px;
    color: $blackcolor;
    padding: 100px;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   SHOULD_I_GO END   //////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////   PARTNERS START   ///////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

.partners {
  background-color: $seacolor;
  padding: 90px 0;
  text-align: center;

  .headline {
    font-family: 'mullerblack-italic', serif;
    font-size: 80px;
    color: $blackcolor;
    text-shadow: 4px 4px 1px #5fa6ba;
  }
  .logotypes {
    display: flex;
    justify-content: center;
    margin: 50px auto 70px;
  }
  .logo {
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 190px;
  }
  .logotype-1 {
    background-image: url(/images/logotype-1.png);
  }
  .logotype-2 {
    background-image: url(/images/logotype-2.png);
  }
  .logotype-3 {
    background-image: url(/images/logotype-3.png);
  }
  .line_partners {
    background-image: url(/images/line_partners.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 17px;
  }
  .links {
    display: flex;
    justify-content: center;
  }
  a {
    font-family: 'robotocondensed-bold', serif;
    font-size: 21px;
    color: $blackcolor;
    margin: 30px;
    text-decoration: underline;

    &:hover {
      color: $bluecolor;
    }
  }
  .copyright {
    font-family: 'robotocondensed-regular', serif;
    font-size: 16px;
    color: $blackcolor;
  }
}







